#is_plus_buy_coin {
    cursor: pointer;
}
#is_minus_buy_coin {
    cursor: pointer;
}
#img_QrCode_buy_coin {
    width: 28%;
}
#check_buy_coin {
    display: none;
}
#copy_font_icon_pencil_buy_coin {
    cursor: pointer;
    color: orange;
}
.block-msg-default .fa {
    color: black !important;
}
.block-msg-default h6 {
    color: black !important;
}

/* custom widget */
.custom_header {
    padding: 20px 20px 5px 20px;
    border-bottom: 1px solid lightgray;
}
.custom_header_padding {
    padding: 20px 15px;
}
.custom_header_float_right {
    float: right;
}
.custom_header_CMD {
    margin-top: -3px;
    display: block;
    font-size: 16px;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}